import json
import datetime
from telegram.ext import Updater, CommandHandler, MessageHandler, Filters
from pprint import pprint


TOKEN = '5179643342:AAHBaxLRt9INAkmmELr39qKOywRVfWO8HW0'
updater = Updater(TOKEN, use_context=True)

dispatcher = updater.dispatcher
print("bot's working")

def start(update, context):
    chat = update.effective_chat
    context.bot.send_message(chat_id=chat.id, text="""Hello! \nWelcome to the BOT - CALCULATOR! \n So here i can calculate simple mathematical equations. 
    Listen, here is one rule, you should follow: \n  - make space between the number and operation 
    here you got an example: 2 + 2""")

def any_message(update, context):
    chat = update.effective_chat
    our_text = update.message.text
    b = our_text.split(' ')
    if our_text == "Bye" or our_text == "bye" or our_text == "Goodbye" or our_text == "See you" or our_text == "See you soon":
        context.bot.send_message(chat_id=chat.id, text="good luck!")
    
    else:
        try:
            for i in range(len(b)):
                n1 = float(b[0])
                option = b[1]
                n2 = float(b[2])
        except:
            context.bot.send_message(chat_id=chat.id, text="Sorry, currently i can calculate only with spaces.")
        try:
            if option == "+":
                result = n1 + n2
                r = str(result).split('.')
                if int(r[1]) == 0:
                    answer = f'answer: \n{int(result)}'
                else:
                    answer = f'answer: \n{float(result)}'

            elif option == "-":
                result = n1 - n2
                r = str(result).split('.')
                if int(r[1]) == 0:
                    answer = f'answer: \n{int(result)}'
                else:
                    answer = f'answer: \n{float(result)}'

            elif option == "*" or option == "x":
                result = n1 * n2
                r = str(result).split('.')
                if int(r[1]) == 0:
                    answer = f'answer: \n{int(result)}'
                else:
                    answer = f'answer: \n{float(result)}'

            elif option == "/" or ':':
                result = n1 / n2
                r = str(result).split('.')
                if int(r[1]) == 0:
                    answer = f'answer: \n{int(result)}'
                else:
                    answer = f'answer: \n{float(result)}'
            curr_dt = datetime.datetime.now()
            my_memory = [
            {
                'x' : n1,
                'y' : n2,
                'operation' : option,
                'result' : result,
                'date and time': str(curr_dt)
            }
            ]
            context.bot.send_message(chat_id=chat.id, text=f"{answer}\n\nIt was easy. What else?")
            with open('json_memory.json', 'a') as file:
                json.dumps(my_memory, indent=3)
        except ZeroDivisionError:
            context.bot.send_message(chat_id=chat.id, text="it is impossible to divide by 0!")    
dispatcher.add_handler(CommandHandler('start', start))
dispatcher.add_handler(MessageHandler(Filters.all, any_message))

updater.start_polling()
updater.idle()
